<p>Find me in app/views/admin/customers/index.html.erb</p>

<div class="container">
<div class="row">
<div class="col-md-12">
  
 <div class="row">
  <div class="col-md-4">
    <div class="text-white bg-info text-center">
     <h2>会員一覧</h2>
    </div>
  </div>
 </div>

 <div="row"></div>
  <table class="table table-striped mt-5">
  <tr>
  <th class="col-sm-2">会員ID</th>
  <th class="col-sm-3">氏名</th>
  <th class="col-sm-4">メールアドレス</th>
  <th class="col-sm-3">ステータス</th>
  </tr>
  <tr>
  <td>:id</td>
  <td>name</td>
  <td>email</td>
  <td>is_deleted</td>
  </tr>
  </table>
  </div>

</div>
</div>

