/cake/app/views/public/orders/index.html.erb

<div class="container">
 <div class="row">
  <div class="col-md-12">
  <div class="col-md-5">
   <div class="text-white bg-warning mb-5 text-center"><h2>注文履歴一覧</h2></div>
  </div>
  
  <div class="row"> 
  <table class="table table-striped">
    <tr>
      <th class="col-sm-1">注文日</th>
      <th class="col-sm-4">配送先</th>
      <th class="col-sm-3">注文商品</th>
      <th class="col-sm-1">支払金額</th>
      <th class="col-sm-2">ステータス</th>
      <th class="col-sm-1">注文詳細</th>
    </tr>
    <tr>
     <%= form_with model:@address do |f| %>
      <td>create_time</td>
      <td>address</td>
      <td>items</td>
      <td>total_payment</td>
      <td>status</td>
      <td><%=f.submit '表示する',class:"btn btn-success" %></td>
     <% end %>
    </tr>
  </tabel>
  </div>
  
  </div>  
 </div>
</div>
