<p>Find me in app/views/public/items/index.html.erb</p>

<div class="container">
<div class="row">
 
  <div class="col-md-2">
    <table class="table">
    <thead class="thead-lignt"><th>ジャンル検索</th></thead>
      <tr><td>ケーキ</td></tr>
      <tr><td>焼き菓子</td></tr>
      <tr><td>プリン</td></tr>
      <tr><td>キャンディ</td></tr>
    </table>
  </div>
      
  <div class="col-md-10">
  <div class="row"> 
   <div class="col-md-4 text-white bg-warning mb-3"><h2>商品一覧 全〇件</h2></div>
  </div>
  <div class ="row">
    <p class="col-sm-3">画像/商品名/価格</p>
    <p class="col-sm-3">画像/商品名/価格</p>
    <p class="col-sm-3">画像/商品名/価格</p>
    <p class="3">画像/商品名/価格</p>
  </div> 
  </div> 
  </div>
 </div>


